:root {
  --color-white: #ffffff;
  --color-green: #6abf4b;
  --color-blue: #3877ee;
}

.block {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button {
  position: absolute;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0.6875rem 0.9375rem;
  align-items: center;
  gap: 0.9375rem;
  cursor: pointer;

  border: var(--color-green);
  border-radius: 40px;
  background: var(--color-green);
  color: var(--color-white);

  transform: scale(1);
  transform-origin: center;
  transition: all 0.5s ease;
}

/* different screens */
@media screen and (min-width: 1600px) {
  .button {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 1600px) and (min-width: 1280px) {
  .button {
    transform: scale(1.25);
  }
}

/* open and close <span> visibility */
.button.open {
  opacity: 1;
}

.button > span {
  display: none;
}

.button.open > span {
  display: inline-block;
}

/*  position of buttons */
.button.button-1 {
  background: var(--color-blue);
  left: 35%;
  top: 45%;
}

.button.button-2 {
  left: 23%;
  top: 70%;
}

.button.button-3 {
  left: 20%;
  top: 19%;
}
